// strtable.rc - resources Microsoft Visual C++ does not edit directly

#ifdef APSTUDIO_INVOKED
	#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED

#include "strtable.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(65001) // UTF-8

STRINGTABLE
BEGIN
	IDS_FILE_MAPPING_ERROR	"Unable to create file mapping memory for messages"
	IDS_FILE_SAVED		  	"Contents saved to "
END
